.scanButton{
    background-color: #d32700;
    color: white;
    font-weight: bold;
    width: 50%;
    height: 60px;
    font-size: 20px;
}

.notificationsContainer{
    width: 100%;
    margin-top: 100px;
    text-align: left;
}

.mainButtonContainer{
    display: flex;
    flex-direction: column;
    align-items: center;
    width: 100%;
    text-align: center;
}

.notifications{
    width: 100%;
    display: flex;
    flex-direction: column;
    gap: 15px;
}

.notificationHeader{
    margin: 0px;
}

.notificationText{
    margin: 2px;
}

.headerText{
    margin: 0px;
}
.headerContainer{
    height: 80px;
    display: flex;
    align-items: center;
    justify-content: center;
}

.outgoingPaymentContainer{
    display: flex;
    align-items: center;
    button{
        height: 30px;
        display: flex;
        align-items: center;
        background-color: #31d000;
        color: white;
        margin-left: 10px;
    }
}