.scanButton {
    margin-top: 5px;
    margin-left: 5px;
    background-color: rgb(197, 43, 43);
    color: white;
    font-weight: bold;
    width: 99%;
    height: 100px;
    font-size: 40px;
    border: none;
    border-radius: 10px;
    cursor: pointer;
    box-shadow: 0 4px 6px rgba(0, 0, 0, 0.1);
    transition: background-color 0.3s ease, transform 0.2s ease;
    font-family: 'Georgia', serif;



}

.scanButton:hover {
    background-color: rgb(187, 30, 30);
    transform: translateY(-2px);
}

.notificationsContainer {
    width: 98%;
    margin-left: 5px;
    margin-top: 150px;
    text-align: left;
    padding: 20px;
    background-color: rgb(197, 43, 43);
    border-radius: 10px;
    box-shadow: 0 2px 4px rgba(0, 0, 0, 0.1);
}

.notificationHeader {
    margin: 0;
    font-size: 24px;
    font-weight: bold;
    color: #333;
}

.headerText {
    margin: 0;
    font-size: 16px;
    color: #f5f0f0;
}

.headerContainer {
    height: 100px;
    display: flex;
    align-items: center;
    justify-content: center;
    background-color: rgb(197, 43, 43);
    border-bottom: 1px solid #e0e0e0;
    padding: 10px;
}
