.scanButton{
    background-color: blueviolet;
    color: white;
    font-weight: bold;
    width: 90%;
    height: 100px;
    font-size: 40px;
}

.notificationsContainer{
    width: 100%;
    margin-top: 150px;
    text-align: left;
}

.notificationHeader{
    margin: 0px;
}