.navBarContainer{
    display: flex;
    width: 99%;
    margin-top: 8px;
    margin-left: 5px;
    height: 52px;
    background-color: rgb(197, 43, 43);
    color: white;
    align-self: flex-end;
    justify-content: center;
    align-items: center;
    border-radius: 10px;
}