.itemsContainer{
    display: flex;
    flex-direction: column;
    align-items: center;
    gap: 20px;
    height: 400px;
    overflow-y: scroll;
    width: 100%;
    padding-top: 10px;
    padding-bottom: 10px;
}

.itemCardContainer{
    border-radius: 15px;
    width: 90%;
    height: 100px;
    box-shadow: 0 4px 12px #0000001a;
    display: flex;
    justify-content: space-between;
    align-items: center;
    padding-left: 10px;
    padding-right: 10px;
    background-color: white;
}

.itemCardColumn{
    display: flex;
    gap: 10px;
}

.addedUsersContainer{
    display: flex;
    gap: 15px;
    align-items: center;
    padding-left: 5px;
    margin-bottom: 20px;
}

.addedText{
    margin: 0px;
}

.addHeader{
    margin: 0px;
    margin-left: 5px;
}

.addButton{
    display: flex;
    align-items: center;
    justify-content: center;
    height: 30px;
    width: 50px;
    background-color: #fafafa;;
    color: black
}